<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Users Who have not activated</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th scope="row"><p th:text="${user.id}">id</p></th>
            <th scope="row"><p th:text="${user.email}">email</p></th>
            <th scope="row"><p th:text="${user.name}">name</p></th>
            <th scope="row"><p th:text="${user.surname}">surname</p></th>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>