<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-box">
    <form th:action="@{/activation}" method="post" th:object="${activation}">
        <h1>Activation</h1>
        <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('activationCode')}">
            <span th:errors="*{activationCode}">Errors</span>

        </div>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{ActivationCode}" placeholder="Name"/>
        </div>

        <input type="submit" class="btn" value="Giriş Yap">
    </form>
</div>



</body>
</html>