<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Account Activation</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/activation}" method="post" th:object="${activation}">
        <h1>Activation</h1>
        <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('activationCode')}">
            <span th:errors="*{activationCode}">Errors</span>

        </div>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{ActivationCode}" placeholder="Name"/>
        </div>

        <input type="submit" class="btn" value="Giriş Yap">
    </form>
</div>



</body>
</html>