<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-signin" th:action="@{/register}" th:object="${user}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.detailedErrors('*')}"><span th:text="${err}">Errors</span></li>
            </ul>
        </div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" th:field="*{Email}" class="form-control" name="email"
               placeholder="Email address" required=""
               autofocus="">

        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" th:field="*{Name}" placeholder="Name" class="form-control" required/>

        <label for="inputSurname" class="sr-only">Surname</label>
        <input type="text" id="inputSurname" th:field="*{Surname}" class="form-control" placeholder="Surname" required/>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
               required="">

        <label for="inputRole" class="sr-only">Select Role</label>
        <select id="inputRole" class="form-control" th:field="*{RoleType}">
            <option th:each="roleOpt : ${T(com.simpleregistiration.demo.enums.RoleType).values()}"
                    th:value="${roleOpt}" th:text="${roleOpt}"></option>
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <a class="" th:href="@{/login}">Login</a>
        <a class="float-right" th:href="@{/forgot-password}">Forgot Password?</a>
    </form>
</div>
</body>
</html>