<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/reset-password?token=} + ${token}" th:object="${resetPassword}" class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.detailedErrors('*')}"><span th:text="${err}">Errors</span></li>
            </ul>
        </div>
        <label for="inputPassword" class="sr-only">New Password</label>
        <input type="text" id="inputPassword" class="form-control" th:field="*{Password}" placeholder="New Password" required
               autofocus="">
        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
        <input type="text" id="inputConfirmPassword" class="form-control" th:field="*{ConfirmPassword}" placeholder="Confirm Password"
               required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>



</body>
</html>